.container {
	margin: 0 15%;
	padding: 6% 0;
	min-height: calc(100vh - 100px);

	position: relative;

	display: flex;
}

.userBlock {
	background: var(--surface);
	border-radius: 0.5rem;

	min-width: 250px;
	max-width: 325px;

	max-height: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2rem 0;

	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
	img {
		width: 150px;
		height: 150px;
		border-radius: 150px;
		box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
	}

	hr {
		margin-top: 2rem;

		width: 50%;
	}
}

.userInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	padding: 0 5%;

	h1 {
		margin-bottom: 0;
	}

	> p {
		margin-top: 0.2rem;

		& + p {
			margin-top: 1rem;
		}
	}

	div {
		display: flex;
		align-items: center;

		p {
			& + p {
				margin-left: 0.5rem;
			}
		}
	}
}

.githubLinkWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	transition: color 0.2s;

	&:hover {
		color: var(--yellow-500);
	}

	> svg {
		margin-right: 0.25rem;
	}
}

.mainInfo {
	width: 100%;
	border-radius: 0.5rem;

	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
}

.analysis {
	min-height: 200px;
	padding: 1rem;
	background: var(--surface);
	border-radius: 0.5rem;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

	p:first-child {
		margin-top: 0;
	}
}

.mainInfoContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 1rem;
}

.repositories {
	display: flex;
	flex-direction: column;
	width: 100%;

	margin-top: 2rem;

	gap: 2rem;

	> h3 {
		margin-bottom: 0;
	}
}

.muted {
	color: var(--gray-300);
}

.blogLink {
	display: flex;
	align-items: center;
	justify-content: center;

	transition: color 0.2s;

	&:hover {
		color: var(--yellow-500);
	}

	> svg {
		margin-right: 0.25rem;
	}
}

.contributionBoard {
	width: 100%;
	position: relative;

	margin: 2rem 0;

	h2 {
		margin-top: 0;
	}

	> img {
		width: 100%;
	}
}
